.button {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  height: 36px;
  border: none;
  margin: 3px;
  border-radius: 14px;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 16px;
  outline: none;
  transition: all .2s;
  font-family: "Roboto", sans-serif; }

.simple_button.primary {
  background-color: #2D60FA;
  color: #EEEEEE; }
  .simple_button.primary:hover {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 2px #2D60FA; }
  .simple_button.primary:active {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 3px #2D60FA; }

.simple_button.secondary {
  background-color: #ACAAAA;
  color: #EEEEEE; }
  .simple_button.secondary:hover {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 2px #ACAAAA; }
  .simple_button.secondary:active {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 3px #ACAAAA; }

.simple_button.success {
  background-color: #04CC40;
  color: #EEEEEE; }
  .simple_button.success:hover {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 2px #04CC40; }
  .simple_button.success:active {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 3px #04CC40; }

.simple_button.danger {
  background-color: #DF0202;
  color: #EEEEEE; }
  .simple_button.danger:hover {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 2px #DF0202; }
  .simple_button.danger:active {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 3px #DF0202; }

.simple_button.warning {
  background-color: #EEFF00;
  color: #333333; }
  .simple_button.warning:hover {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 2px #EEFF00; }
  .simple_button.warning:active {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 3px #EEFF00; }

.simple_button.info {
  background-color: #02E0A9;
  color: #EEEEEE; }
  .simple_button.info:hover {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 2px #02E0A9; }
  .simple_button.info:active {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 3px #02E0A9; }

.simple_button.light {
  background-color: #E26EE2;
  color: #EEEEEE; }
  .simple_button.light:hover {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 2px #E26EE2; }
  .simple_button.light:active {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 3px #E26EE2; }

.simple_button.dark {
  background-color: #720172;
  color: #EEEEEE; }
  .simple_button.dark:hover {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 2px #720172; }
  .simple_button.dark:active {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 3px #720172; }

.simple_button.link {
  background-color: #3BCAE4;
  color: #EEEEEE; }
  .simple_button.link:hover {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 2px #3BCAE4; }
  .simple_button.link:active {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 3px #3BCAE4; }

.outline_button.primary {
  background-color: #EEEEEE;
  color: #333333;
  box-shadow: inset 0 0 0 2px #2D60FA; }
  .outline_button.primary:hover {
    background-color: #2D60FA;
    color: #EEEEEE; }
  .outline_button.primary:active {
    background-color: #2D60FA;
    color: #EEEEEE; }

.outline_button.secondary {
  background-color: #EEEEEE;
  color: #333333;
  box-shadow: inset 0 0 0 2px #ACAAAA; }
  .outline_button.secondary:hover {
    background-color: #ACAAAA;
    color: #EEEEEE; }
  .outline_button.secondary:active {
    background-color: #ACAAAA;
    color: #EEEEEE; }

.outline_button.success {
  background-color: #EEEEEE;
  color: #333333;
  box-shadow: inset 0 0 0 2px #04CC40; }
  .outline_button.success:hover {
    background-color: #04CC40;
    color: #EEEEEE; }
  .outline_button.success:active {
    background-color: #04CC40;
    color: #EEEEEE; }

.outline_button.danger {
  background-color: #EEEEEE;
  color: #333333;
  box-shadow: inset 0 0 0 2px #DF0202; }
  .outline_button.danger:hover {
    background-color: #DF0202;
    color: #EEEEEE; }
  .outline_button.danger:active {
    background-color: #DF0202;
    color: #EEEEEE; }

.outline_button.warning {
  background-color: #EEEEEE;
  color: #333333;
  box-shadow: inset 0 0 0 2px #EEFF00; }
  .outline_button.warning:hover {
    background-color: #EEFF00;
    color: #333333; }
  .outline_button.warning:active {
    background-color: #EEFF00;
    color: #333333; }

.outline_button.info {
  background-color: #EEEEEE;
  color: #333333;
  box-shadow: inset 0 0 0 2px #02E0A9; }
  .outline_button.info:hover {
    background-color: #02E0A9;
    color: #EEEEEE; }
  .outline_button.info:active {
    background-color: #02E0A9;
    color: #EEEEEE; }

.outline_button.light {
  background-color: #EEEEEE;
  color: #333333;
  box-shadow: inset 0 0 0 2px #E26EE2; }
  .outline_button.light:hover {
    background-color: #E26EE2;
    color: #EEEEEE; }
  .outline_button.light:active {
    background-color: #E26EE2;
    color: #EEEEEE; }

.outline_button.dark {
  background-color: #EEEEEE;
  color: #333333;
  box-shadow: inset 0 0 0 2px #720172; }
  .outline_button.dark:hover {
    background-color: #720172;
    color: #EEEEEE; }
  .outline_button.dark:active {
    background-color: #720172;
    color: #EEEEEE; }

.outline_button.link {
  background-color: #EEEEEE;
  color: #333333;
  box-shadow: inset 0 0 0 2px #3BCAE4; }
  .outline_button.link:hover {
    background-color: #3BCAE4;
    color: #EEEEEE; }
  .outline_button.link:active {
    background-color: #3BCAE4;
    color: #EEEEEE; }

.outline_dark_button.primary {
  background-color: #2D60FA;
  color: #EEEEEE; }
  .outline_dark_button.primary:hover {
    background-color: #2D60FA;
    color: #EEEEEE;
    box-shadow: inset 0 0 0 2px #2D60FA; }
  .outline_dark_button.primary:active {
    background-color: #2D60FA;
    color: #EEEEEE;
    box-shadow: inset 0 0 0 3px #2D60FA; }

.outline_dark_button.secondary {
  background-color: #ACAAAA;
  color: #EEEEEE; }
  .outline_dark_button.secondary:hover {
    background-color: #ACAAAA;
    color: #EEEEEE;
    box-shadow: inset 0 0 0 2px #ACAAAA; }
  .outline_dark_button.secondary:active {
    background-color: #ACAAAA;
    color: #EEEEEE;
    box-shadow: inset 0 0 0 3px #ACAAAA; }

.outline_dark_button.success {
  background-color: #04CC40;
  color: #EEEEEE; }
  .outline_dark_button.success:hover {
    background-color: #04CC40;
    color: #EEEEEE;
    box-shadow: inset 0 0 0 2px #04CC40; }
  .outline_dark_button.success:active {
    background-color: #04CC40;
    color: #EEEEEE;
    box-shadow: inset 0 0 0 3px #04CC40; }

.outline_dark_button.danger {
  background-color: #DF0202;
  color: #EEEEEE; }
  .outline_dark_button.danger:hover {
    background-color: #DF0202;
    color: #EEEEEE;
    box-shadow: inset 0 0 0 2px #DF0202; }
  .outline_dark_button.danger:active {
    background-color: #DF0202;
    color: #EEEEEE;
    box-shadow: inset 0 0 0 3px #DF0202; }

.outline_dark_button.warning {
  background-color: #EEFF00;
  color: #333333; }
  .outline_dark_button.warning:hover {
    background-color: #EEFF00;
    color: #333333;
    box-shadow: inset 0 0 0 2px #EEFF00; }
  .outline_dark_button.warning:active {
    background-color: #EEFF00;
    color: #333333;
    box-shadow: inset 0 0 0 3px #EEFF00; }

.outline_dark_button.info {
  background-color: #02E0A9;
  color: #EEEEEE; }
  .outline_dark_button.info:hover {
    background-color: #02E0A9;
    color: #EEEEEE;
    box-shadow: inset 0 0 0 2px #02E0A9; }
  .outline_dark_button.info:active {
    background-color: #02E0A9;
    color: #EEEEEE;
    box-shadow: inset 0 0 0 3px #02E0A9; }

.outline_dark_button.light {
  background-color: #E26EE2;
  color: #EEEEEE; }
  .outline_dark_button.light:hover {
    background-color: #E26EE2;
    color: #EEEEEE;
    box-shadow: inset 0 0 0 2px #E26EE2; }
  .outline_dark_button.light:active {
    background-color: #E26EE2;
    color: #EEEEEE;
    box-shadow: inset 0 0 0 3px #E26EE2; }

.outline_dark_button.dark {
  background-color: #720172;
  color: #EEEEEE; }
  .outline_dark_button.dark:hover {
    background-color: #720172;
    color: #EEEEEE;
    box-shadow: inset 0 0 0 2px #720172; }
  .outline_dark_button.dark:active {
    background-color: #720172;
    color: #EEEEEE;
    box-shadow: inset 0 0 0 3px #720172; }

.outline_dark_button.link {
  background-color: #3BCAE4;
  color: #EEEEEE; }
  .outline_dark_button.link:hover {
    background-color: #3BCAE4;
    color: #EEEEEE;
    box-shadow: inset 0 0 0 2px #3BCAE4; }
  .outline_dark_button.link:active {
    background-color: #3BCAE4;
    color: #EEEEEE;
    box-shadow: inset 0 0 0 3px #3BCAE4; }

.outline_dark_button_2.primary {
  background-color: #333333;
  color: #EEEEEE; }
  .outline_dark_button_2.primary:hover {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 2px #2D60FA; }
  .outline_dark_button_2.primary:active {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 3px #2D60FA; }

.outline_dark_button_2.secondary {
  background-color: #333333;
  color: #EEEEEE; }
  .outline_dark_button_2.secondary:hover {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 2px #ACAAAA; }
  .outline_dark_button_2.secondary:active {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 3px #ACAAAA; }

.outline_dark_button_2.success {
  background-color: #333333;
  color: #EEEEEE; }
  .outline_dark_button_2.success:hover {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 2px #04CC40; }
  .outline_dark_button_2.success:active {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 3px #04CC40; }

.outline_dark_button_2.danger {
  background-color: #333333;
  color: #EEEEEE; }
  .outline_dark_button_2.danger:hover {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 2px #DF0202; }
  .outline_dark_button_2.danger:active {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 3px #DF0202; }

.outline_dark_button_2.warning {
  background-color: #333333;
  color: #EEEEEE; }
  .outline_dark_button_2.warning:hover {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 2px #EEFF00; }
  .outline_dark_button_2.warning:active {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 3px #EEFF00; }

.outline_dark_button_2.info {
  background-color: #333333;
  color: #EEEEEE; }
  .outline_dark_button_2.info:hover {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 2px #02E0A9; }
  .outline_dark_button_2.info:active {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 3px #02E0A9; }

.outline_dark_button_2.light {
  background-color: #333333;
  color: #EEEEEE; }
  .outline_dark_button_2.light:hover {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 2px #E26EE2; }
  .outline_dark_button_2.light:active {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 3px #E26EE2; }

.outline_dark_button_2.dark {
  background-color: #333333;
  color: #EEEEEE; }
  .outline_dark_button_2.dark:hover {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 2px #720172; }
  .outline_dark_button_2.dark:active {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 3px #720172; }

.outline_dark_button_2.link {
  background-color: #333333;
  color: #EEEEEE; }
  .outline_dark_button_2.link:hover {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 2px #3BCAE4; }
  .outline_dark_button_2.link:active {
    background-color: #EEEEEE;
    color: #333333;
    box-shadow: inset 0 0 0 3px #3BCAE4; }

.gradient_button.primary {
  background-image: linear-gradient(to bottom right, #2D60FA, #EEEEEE);
  color: #333333; }
  .gradient_button.primary:hover {
    background-image: linear-gradient(to bottom right, #2D60FA, #EEEEEE);
    color: #333333;
    box-shadow: inset 0 0 0 2px #2D60FA; }
  .gradient_button.primary:active {
    background-image: linear-gradient(to bottom right, #2D60FA, #EEEEEE);
    color: #333333;
    box-shadow: inset 0 0 0 3px #2D60FA; }

.gradient_button.secondary {
  background-image: linear-gradient(to bottom right, #ACAAAA, #EEEEEE);
  color: #333333; }
  .gradient_button.secondary:hover {
    background-image: linear-gradient(to bottom right, #ACAAAA, #EEEEEE);
    color: #333333;
    box-shadow: inset 0 0 0 2px #ACAAAA; }
  .gradient_button.secondary:active {
    background-image: linear-gradient(to bottom right, #ACAAAA, #EEEEEE);
    color: #333333;
    box-shadow: inset 0 0 0 3px #ACAAAA; }

.gradient_button.success {
  background-image: linear-gradient(to bottom right, #04CC40, #EEEEEE);
  color: #333333; }
  .gradient_button.success:hover {
    background-image: linear-gradient(to bottom right, #04CC40, #EEEEEE);
    color: #333333;
    box-shadow: inset 0 0 0 2px #04CC40; }
  .gradient_button.success:active {
    background-image: linear-gradient(to bottom right, #04CC40, #EEEEEE);
    color: #333333;
    box-shadow: inset 0 0 0 3px #04CC40; }

.gradient_button.danger {
  background-image: linear-gradient(to bottom right, #DF0202, #EEEEEE);
  color: #333333; }
  .gradient_button.danger:hover {
    background-image: linear-gradient(to bottom right, #DF0202, #EEEEEE);
    color: #333333;
    box-shadow: inset 0 0 0 2px #DF0202; }
  .gradient_button.danger:active {
    background-image: linear-gradient(to bottom right, #DF0202, #EEEEEE);
    color: #333333;
    box-shadow: inset 0 0 0 3px #DF0202; }

.gradient_button.warning {
  background-image: linear-gradient(to bottom right, #EEFF00, #EEEEEE);
  color: #333333; }
  .gradient_button.warning:hover {
    background-image: linear-gradient(to bottom right, #EEFF00, #EEEEEE);
    color: #333333;
    box-shadow: inset 0 0 0 2px #EEFF00; }
  .gradient_button.warning:active {
    background-image: linear-gradient(to bottom right, #EEFF00, #EEEEEE);
    color: #333333;
    box-shadow: inset 0 0 0 3px #EEFF00; }

.gradient_button.info {
  background-image: linear-gradient(to bottom right, #02E0A9, #EEEEEE);
  color: #333333; }
  .gradient_button.info:hover {
    background-image: linear-gradient(to bottom right, #02E0A9, #EEEEEE);
    color: #333333;
    box-shadow: inset 0 0 0 2px #02E0A9; }
  .gradient_button.info:active {
    background-image: linear-gradient(to bottom right, #02E0A9, #EEEEEE);
    color: #333333;
    box-shadow: inset 0 0 0 3px #02E0A9; }

.gradient_button.light {
  background-image: linear-gradient(to bottom right, #E26EE2, #EEEEEE);
  color: #333333; }
  .gradient_button.light:hover {
    background-image: linear-gradient(to bottom right, #E26EE2, #EEEEEE);
    color: #333333;
    box-shadow: inset 0 0 0 2px #E26EE2; }
  .gradient_button.light:active {
    background-image: linear-gradient(to bottom right, #E26EE2, #EEEEEE);
    color: #333333;
    box-shadow: inset 0 0 0 3px #E26EE2; }

.gradient_button.dark {
  background-image: linear-gradient(to bottom right, #720172, #EEEEEE);
  color: #333333; }
  .gradient_button.dark:hover {
    background-image: linear-gradient(to bottom right, #720172, #EEEEEE);
    color: #333333;
    box-shadow: inset 0 0 0 2px #720172; }
  .gradient_button.dark:active {
    background-image: linear-gradient(to bottom right, #720172, #EEEEEE);
    color: #333333;
    box-shadow: inset 0 0 0 3px #720172; }

.gradient_button.link {
  background-image: linear-gradient(to bottom right, #3BCAE4, #EEEEEE);
  color: #333333; }
  .gradient_button.link:hover {
    background-image: linear-gradient(to bottom right, #3BCAE4, #EEEEEE);
    color: #333333;
    box-shadow: inset 0 0 0 2px #3BCAE4; }
  .gradient_button.link:active {
    background-image: linear-gradient(to bottom right, #3BCAE4, #EEEEEE);
    color: #333333;
    box-shadow: inset 0 0 0 3px #3BCAE4; }

.button.outline_button {
  background-color: #EEEEEE;
  color: #333333;
  position: relative;
  overflow: hidden; }

.button.outline_button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%; }

.button.outline_button:focus:not(:active)::after {
  animation: ripple 1s ease-out; }

.button.outline_dark_button {
  background-color: #333333;
  color: #EEEEEE;
  position: relative;
  overflow: hidden; }

.button.outline_dark_button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%; }

.button.outline_dark_button:focus:not(:active)::after {
  animation: ripple 1s ease-out; }

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1; }
  20% {
    transform: scale(25, 25);
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(40, 40); } }

.gradient_button_2 {
  color: #EEEEEE; }

.button.gradient_button_2.primary {
  background: linear-gradient(to bottom right, #2D60FA, #02E0A9); }

.button.gradient_button_2.primary:hover {
  box-shadow: inset 0 0 0 2px #2D60FA; }

.button.gradient_button_2.primary:active {
  background: linear-gradient(to bottom right, #02E0A9, #2D60FA); }

.button.gradient_button_2.secondary {
  background-image: linear-gradient(to bottom right, #ACAAAA, #333333); }

.button.gradient_button_2.secondary:hover {
  box-shadow: inset 0 0 0 2px #ACAAAA; }

.button.gradient_button_2.secondary:active {
  background-image: linear-gradient(to bottom right, #333333, #ACAAAA); }

.button.gradient_button_2.success {
  background-image: linear-gradient(to bottom right, #04CC40, #EEFF00); }

.button.gradient_button_2.success:hover {
  box-shadow: inset 0 0 0 2px #04CC40; }

.button.gradient_button_2.success:active {
  background-image: linear-gradient(to bottom right, #EEFF00, #04CC40); }

.button.gradient_button_2.danger {
  background-image: linear-gradient(to bottom right, #DF0202, #2D60FA); }

.button.gradient_button_2.danger:hover {
  box-shadow: inset 0 0 0 2px #DF0202; }

.button.gradient_button_2.danger:active {
  background-image: linear-gradient(to bottom right, #2D60FA, #DF0202); }

.button.gradient_button_2.warning {
  background-image: linear-gradient(to bottom right, #EEFF00, #E26EE2); }

.button.gradient_button_2.warning:hover {
  box-shadow: inset 0 0 0 2px #EEFF00; }

.button.gradient_button_2.warning:active {
  background-image: linear-gradient(to bottom right, #E26EE2, #EEFF00); }

.button.gradient_button_2.info {
  background-image: linear-gradient(to bottom right, #02E0A9, #2D60FA); }

.button.gradient_button_2.info:hover {
  box-shadow: inset 0 0 0 2px #02E0A9; }

.button.gradient_button_2.info:active {
  background-image: linear-gradient(to bottom right, #2D60FA, #02E0A9); }

.button.gradient_button_2.light {
  background-image: linear-gradient(to bottom right, #E26EE2, #02E0A9); }

.button.gradient_button_2.light:hover {
  box-shadow: inset 0 0 0 2px #E26EE2; }

.button.gradient_button_2.light:active {
  background-image: linear-gradient(to bottom right, #02E0A9, #E26EE2); }

.button.gradient_button_2.dark {
  background-image: linear-gradient(to bottom right, #720172, #E26EE2); }

.button.gradient_button_2.dark:hover {
  box-shadow: inset 0 0 0 2px #720172; }

.button.gradient_button_2.dark:active {
  background-image: linear-gradient(to bottom right, #E26EE2, #720172); }

.button.gradient_button_2.link {
  background-image: linear-gradient(to bottom right, #3BCAE4, #04CC40); }

.button.gradient_button_2.link:hover {
  box-shadow: inset 0 0 0 2px #3BCAE4; }

.button.gradient_button_2.link:active {
  background-image: linear-gradient(to bottom right, #04CC40, #3BCAE4); }

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }
